<h2>Edit User</h2>

<%= form_for @user do |f| %>
	<fieldset>
		<div class="field">
			<%= f.label :fname %>
			<%= f.text_field :fname %>
		<div>
			<div class="field">
			<%= f.label :lname %>
			<%= f.text_field :lname %>
		<div>
		<div class="field">
			<%= f.label :email %>
			<%= f.text_field :email %>
		<div>
		<div class="field">
			<%= f.label :bio %>
			<%= f.text_field :bio %>
		<div>
		<div class="actions">
			<%= f.submit %>
		<div>
	</fieldset>
<% end %>	